{% extends 'base.html' %}
{% load unitline %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#spell").change(function(){
            $('#param').empty();
            $('#target').empty();
            if($(this).val()) {
                $.getJSON('/spellgettargets/'+$(this).val()+'/', function(data) {
                    $.each(data['param'], function(i, value) {
                        $('#param').append($('<option>').text(value).attr('value', value));
                    });
                    $.each(data['target'], function(i, value) {
                        $('#target').append($('<option>').text(value).attr('value', value));
                    });
                });
            }
        })
    })
</script>
{% endblock %}


{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <div class="row center">
            {% if is_moved %}
                <a href="{% url battle %}" class="btn btn-large">Refresh</a>
            {% else %}
                <input type="submit" class="btn btn-large" value="Move!" name="move">
            {% endif %}
            <a href="{% url battle %}?runaway" class="btn btn-large">Run away</a>
        </div>

        <div class="row"style="margin-top: 10px;">
            <div class="span4">
                {% include 'main/battle/hero_info.html' %}
                <hr>
                {% if spells %}
                    <table>
                        <tr>
                            <td>Cast spell&nbsp;</td>
                            <td>
                                <select name="spell" id="spell">
                                    <option value="0">None</option>
                                    {% for spell in spells %}
                                        <option value="{{ spell.pk }}">{{ spell }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>to target</td>
                            <td>
                                <select name="target" id="target">

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>to param</td>
                            <td>
                                <select name="param" id="param">

                                </select>
                            </td>
                        </tr>
                    </table>
                {% endif %}

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>life</th>
                            <th>target</th>
                        </tr>
                    </thead>
                    {% for unit in army %}
                        <tr>
                            <td>{% unitline unit %}</td>
                            <td>{{ unit.life }}/{{ unit.get_max_life }}</td>
                            {% if is_moved %}
                                <td>{{ unit.battle_target.custom_name }}</td>
                            {% else %}
                                <td>
                                    <select name="unit{{ unit.pk }}">
                                        <option value="0">Auto select</option>
                                        {% for op_unit in opponent_army %}
                                            <option value="{{ op_unit.pk }}">{{ op_unit.custom_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>


            </div>
            <div class="span4 center">
                <h2>Battle log</h2>
                {{ battle.log|safe|linebreaksbr }}
            </div>
            <div class="span4 pull-right">
                {% with hero=opponent %}
                    {% include 'main/battle/hero_info.html' %}
                {% endwith %}
                <table class="table" style="margin-top: 20px;">
                    {% for unit in opponent_army %}
                        <tr>
                            <td>{% unitline unit %}</td>
                            <td>{{ unit.life }}/{{ unit.get_max_life }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    <form>

{% endblock %}