{% extends 'base.html' %}



{% block content %}

    <div class="row">
        <div class="span6" style="text-align: center;">
                Heroes of Git and hub is game where you becomes a hero and your repositories in <a href="http://github.com">Github</a> transforms to your army.
                <br><br>
                <a href="/login/github/" class="btn btn-large">Login with Github</a>

        </div>
        <div class="span6">
            <h2>Rating</h2>

            <a class="right" href="{% url rating %}">All rating &rarr;</a>
        </div>
    </div>

{% endblock %}