{% extends 'base.html' %}
{% load hero %}



{% block content %}

    <div class="row">
        <div class="span5" style="text-align: center;">
            Heroes of Git and hub is game where you becomes a hero and your repositories in <a href="http://github.com">Github</a> transforms to your army.
            {% if not user.is_authenticated %}
                <br><br>
                <a href="/login/github/" class="btn btn-large">Login with Github</a>
            {% endif %}

        </div>
        <div class="span4">
            <h2>Rating by experience</h2>

            <table class="table">
                <colgroup>
                    <col width="20">
                    <col>
                    <col width="30">
                </colgroup>
                {% for hero in rating_exp %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{% hero hero %}</td>
                        <td>{{ hero.experience }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div>
                <a class="right" href="{% url rating_exp %}">All rating &rarr;</a>
            </div>
        </div>
        <div class="span3">
            <h2>Rating by power</h2>

            <table class="table">
                <colgroup>
                    <col width="20">
                    <col>
                    <col width="30">
                </colgroup>
                {% for hero in rating_power %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{% hero hero %}</td>
                        <td>{{ hero.get_total_power }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <a class="right" href="{% url rating_pow %}">All rating &rarr;</a>
            </div>
        </div>
    </div>

{% endblock %}