{% extends 'base.html' %}
{% load unitline %}
{% load hero %}


{% block content %}
    <div class="row">
        <div class="span6">
            {% include 'main/battle/hero_info.html' %}
            <table class="table" style="margin-top: 20px;">
                {% for unit in hero.units.all %}
                    <tr>
                        <td>{% unitline unit %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="span6">
            <table class="table">
                {% for battle in battles %}
                    <tr>
                        <td>battle with {% hero battle.opponent %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}