{% extends 'base.html' %}
{% load unitline %}
{% load hero %}


{% block content %}
    <div class="row">
        <div class="span6">
            {% include 'main/battle/hero_info.html' %}
            <table class="table" style="margin-top: 20px;">
                {% for unit in hero.units.all %}
                    <tr>
                        <td>{% unitline unit %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#battles" data-toggle="tab">Battles</a></li>
                <li><a href="#log" data-toggle="tab">Log</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="battles">
                    <table class="table">
                        {% for battle in battles %}
                            <tr style="background-color: {% ifequal battle.winner hero %}#d4eed0;{% else %}#eed4d0{% endifequal %}">
                                <td width="100">{{ battle.date|date:"Y.m.d H:i" }}</td>
                                <td><a href="{% url battle_info battle.pk %}">battle</a> with {% hero battle.opponent %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane" id="log">
                    <table class="table">
                        {% for log in hero.log.all|slice:"50" %}
                            <tr>
                                <td width="100">{{ log.date|date:"Y.m.d H:i" }}</td>
                                <td>{{ log.text|safe }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>

    </div>

{% endblock %}